@charset "utf-8";

/* default */
html, body{width:100%;height:100%;}
body{font-family:'notokr', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;line-height:1.5;letter-spacing:-0.03em;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:grayscale;overflow-y:auto;-webkit-overflow-scrolling:touch}
body:before{content:'';position:fixed;left:0;top:0;width:100%;height:0;}/* fix webkit bug(scroll event delay) */
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, span, strong, label{margin:0;padding:0;box-sizing:border-box;}
dl, dt, dd, ul, ol, li{box-sizing:border-box;list-style:none;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, dt{font-weight:normal;}
img, fieldset, iframe, button{border:0 none;}
table{/*border-collapse:collapse;*/ border-spacing:0;}
th, td{/*border-collapse:collapse;*/}
legend, caption{height:0;overflow:hidden;opacity:0;}
hr{border:0;border-top:1px solid #ccc;margin:40px 0}
em, u, cite, i, abbr{font-style:normal;text-decoration:none;}
strong, b{font-weight:normal;}
a{color:rgb(16, 79, 252);outline-offset:1px;box-sizing:border-box;}
button{border:0 none;font-family:'notokr','sans-serif';cursor:pointer;background:transparent;box-sizing:border-box;color:#666}
input, textarea, select, button{box-sizing:border-box;font-family:'notokr', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}
article, aside, details, figcaption, figure, footer, header, main, hgroup, nav, section, summary{display:block;margin:0;padding:0;box-sizing:border-box;}
.hidden{position:absolute !important;width:0 !important;height:0 !important;z-index:-1 !important;color:transparent !important;overflow:hidden !important;font-size:xx-small !important;line-height:0 !important;min-height:0 !important;max-height:0 !important;}
.ui-widget{font-family:'notokr', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;}
textarea {resize:none}
a, button{color:blue}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:'notokr', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}

.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}

html.scroll_off {overflow:hidden}

/* google material icons */
.material-icons {font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; display:block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; font-feature-settings: 'liga'; }

::-webkit-scrollbar {width:6px;height:6px}
::-webkit-scrollbar-track {background-color:transparent}
::-webkit-scrollbar-thumb {border-radius:30px;background-color:rgba(0,0,0,.2);border:none}
::-webkit-scrollbar-button {width:0;height:0}

.tbl-base{margin:0;min-width:100%;table-layout:auto;position:relative;background:#fff;border-top:1px solid #dee5e7;border-right:1px solid #dee5e7}
.tbl-base thead th {background:#eef4fe;font-weight:600}
.tbl-base th,
.tbl-base td {position:relative;border-left:1px solid #dee5e7;border-bottom:1px solid #dee5e7;padding:9px;font-size:13px;color:#666;font-weight:400;white-space:nowrap;text-align:center}
.tbl-base th {background:#fafbfc;font-weight:500}
.tbl-base tbody tr:hover td {background-color:#f4f7fc}
.tbl-base tbody tr.selected td {background-color:#fff1fd}
.tbl-base td.active {color:#f35757;font-weight:600}

input[type="text"],
input[type="date"],
input[type="password"]{width:auto;vertical-align:middle;height:34px;border:1px solid #cfdadd;color:#666;padding:0 12px;outline:none;border-radius:2px}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus{border-color:#23b7e5}
.inp-date{padding-right:40px !important;background:#fff url(../img/ico_form2.png) no-repeat 100% -150px;width:145px !important;}
.w-full{width:calc(100% - 10px)  !important}
.w-half{width:50% !important}

.btn-base{height:34px;vertical-align:middle;border:1px solid #cfdadd;font-size:13px;color:#666;padding:0 25px;background:#fff;margin:0 5px;box-shadow:0 1px 2px rgba(0,0,0,.1);border-radius:2px}
button.point{background:#2f89fc;border-color:#2f89fc;color:#fff;}
button.point2{background:#f35757;border-color:#f35757;color:#fff;}
button.dark{background:#0e3058;border-color:#0e3058;color:#fff;}
.btn-large{height:48px;vertical-align:middle;border:1px solid #cfdadd;font-size:15px !important;color:#666;padding:0 50px;background:#fff;margin:0 5px;box-shadow:0 1px 2px rgba(0,0,0,.1);border-radius:2px}
.btn-small{height:34px;vertical-align:middle;border:1px solid #cfdadd;font-size:12px;color:#666;padding:0 25px;background:#fff;box-shadow:0 1px 2px rgba(0,0,0,.1);border-radius:2px}
.btn-mini{height:28px;vertical-align:middle;border:1px solid #cfdadd;font-size:12px;color:#666;padding:0 8px;background:#fff;box-shadow:0 1px 2px rgba(0,0,0,.1);border-radius:2px}

select{display:inline-block;position:relative;width:auto;height:34px;padding:0 30px 0 12px;border-radius:2px;background:#fff url(../img/ico_form2.png) no-repeat 100% 0;appearance:none;-moz-appearance:none;-webkit-appearance:none;border:1px solid #c9c9c9;font-size:13px;cursor:pointer;outline:none;vertical-align: middle}
select::-ms-expand{display:none;}
select optgroup,
select option{font-style:normal;background-color:#fff;font-size:13px;}
select[disabled]{background-color:#f7f7f7;color:#888;}
select:focus{border-color:#23b7e5;background-position:100% -50px}
    
input[type="radio"],
input[type="checkbox"]{opacity:0;display:inline-block;position:absolute;z-index:-1;vertical-align:top;appearance:none;-moz-appearance:none;-webkit-appearance:none;margin:0;}
input[type="radio"] + label,
input[type="checkbox"] + label{cursor:pointer}
input[type="radio"] + label.not_txt,
input[type="checkbox"] + label.not_txt {margin:0}
input[type="radio"] + label.not_txt:before,
input[type="checkbox"] + label.not_txt:before {margin:0}
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label{cursor:default}

input[type="checkbox"] + label:before{content:"";display:inline-block;width:20px;height:20px;background:url(../img/ico_form.png) no-repeat 0 0;vertical-align:middle;margin-right:8px;}
input[type="checkbox"]:checked + label:before{background-position:-20px 0}
input[type="checkbox"]:disabled + label:before{background-position:-40px 0}
input[type="checkbox"]:checked:disabled + label:before{background-position:-60px 0}

/*
input[type="radio"] + label:before{content:"";display:inline-block;width:20px;height:20px;background:url(../img/ico_form.png) no-repeat 0 -20px;vertical-align:middle;margin-right:8px;}
input[type="radio"]:checked + label:before{background-position:-20px -20px}
input[type="radio"]:disabled + label:before{background-position:-40px -20px}
input[type="radio"]:checked:disabled + label:before{background-position:-60px -20px}
*/

.base-wrap {display:flex;min-height:100%;overflow:hidden}
.lnb-nav {width:80px;flex-shrink:0;background-color:#0e3058;display:flex;flex-direction:column}
.lnb-nav .btn-small {padding:8px;height:48px;width:100%;border-radius:0}
.lnb-nav .btn-small.point2 {margin-top:auto;font-weight:500}
.lnb-nav .btn-small.active {background:#2f89fc;border-color:#2f89fc;color:#fff;position:relative;font-weight:500}
.nav-group {display:flex;flex-direction:column}
.nav-group .btn-small ~ .btn-small {margin-top:-1px}

.h1-logo {display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;padding:12px 0}
.h1-logo img {width:32px;height:auto}
.h1-logo-text {font-size:13px;font-weight:500;color:#fff}

.map-chart-box {flex:1;display:flex;flex-direction:column}
.map-area {position:relative;flex:1}
.chart-area-a {flex-shrink:0;height:280px;background-color:#f7f7f7;position:relative}
.chart-checkbox {position:absolute;right:20px;top:20px;padding:8px;border:1px solid #cfdadd;background-color:#fff;border-radius:4px}
.bar-box {position:absolute;right:20px;bottom:20px;display:none}
.bar-box.active {display:block}

.left-box {position:absolute;top:20px;left:20px;width:280px;z-index:100}
.left-search-box .inp-sh {width:100%;padding-right:30px}
.left-search-box .btn-sh-small {position:absolute;right:0;top:0;bottom:0;width:30px;display:flex;align-items:center;justify-content:center;}
.left-search-box select {width:100%}
.btn-sh-small .material-icons-outlined {font-size:20px;color:#666}
.mini-map {margin-top:8px;border:1px solid #ccc;background-color:#fff;height:280px}


.right-side {position:absolute;z-index:100;top:20px;right:20px;display:flex;flex-direction:column;gap:4px}
.right-side .btn-icon {width:36px;height:36px;background-color:#fff;border-radius:2px;display:flex;align-items:center;justify-content:center;box-shadow:0 1px 2px rgba(0,0,0,.1);font-size:14px;border:1px solid #eee;position:relative}
.right-side .btn-icon:hover {background-color:#dce9fd}
.right-side .btn-icon .material-icons-outlined {font-size:20px;color:#666}
.right-side .icon-main-img {position:relative;z-index:2;top:-2px;height:16px;overflow:hidden}
.right-side .icon-bg-img {position:absolute;top:60%;left:50%;transform:translate(-50%, -50%)}
.right-side .icon-bg-img:before {content:'';position:absolute;left:2px;right:2px;top:0;height:10px;background-color:#eef4fe}
.right-side .btn-icon.selected {background-color:#eef4fe;border-color:#dee5e7}
.right-side .btn-icon.selected .material-icons-outlined {color:#3a3f51}

.btn-layer-hover:hover .right-side-layer {display:block}
.right-side-layer {position:absolute;right:20px;top:0;z-index:99;padding-right:28px;display:none}
.right-side-layer-box {border:1px solid #cfdadd;border-radius:2px;padding:12px;display:flex;flex-direction:column;gap:8px;background-color:rgba(255,255,255,.3)}
.right-side-layer .btn-small {white-space:nowrap}
.right-side-group .material-icons-outlined {font-size:32px;color:#fff}
.right-side-group {display:flex;gap:8px;align-items:center}
.right-side-group .select-hpa {width:120px}

.img-change-box {margin-top:auto}
.btn-img-change {width:60px;height:60px;border:2px solid rgba(0,0,0,.3);border-radius:8px;overflow:hidden;position:absolute;right:20px;bottom:20px;z-index:100;box-shadow:0 1px 2px rgba(0,0,0,.1)}
.btn-img-change img {width:100%;height:100%;object-fit:cover}


.btn-icon {font-size:16px;color:#fff;display:flex;align-items:center;width:24px;height:24px;justify-content:center}
.btn-icon .material-icons-outlined {overflow:hidden;line-height:1;font-size:24px}

.layer-open .map-layer-area {margin-left:0;pointer-events:auto}
.layer-open .img-change-box,
.layer-open .mini-map {display:none}
.layer-open .right-side-group .select-hpa {opacity:0;pointer-events:none}
.btn-layer-area-close {position:absolute;top:20px;left:20px}
.btn-layer-area-close .material-icons-outlined {color:#fff;font-size:32px}
.map-layer-area {background-color:#333;position:absolute;left:320px;top:0;bottom:0;right:0;pointer-events:none;margin-left:100%;transition:margin-left .2s}
.checkbox-group-a {position:absolute;top:20px;right:20px;z-index:101;display:flex;flex-direction:column;width:120px;gap:8px}
.checkbox-item-type-a {position:relative}
.checkbox-item-type-a .inp-checkbox {opacity:0;position:absolute;left:0;top:0}
.checkbox-item-type-a-label {padding:0 8px;height:34px;width:100%;display:flex;align-items:center;justify-content:center;border:1px solid #ccc;background-color:#e7e7e7;color:#999;font-size:14px;font-weight:500;border-radius:4px}
.checkbox-item-type-a-label:before,
.checkbox-item-type-a-label:after {display:none !important;}
.inp-checkbox:checked + .checkbox-item-type-a-label {background-color:#f35757;border-color:#f35757;color:#fff}

.map-slider-box {position:absolute;right:20px;bottom:20px;border:1px solid #cfdadd;background-color:rgba(255,255,255,.8);padding:12px 68px;border-radius:4px;display:flex;align-items:center;justify-content:center;flex-direction:column;gap:8px}
.slider-vertical-data-a {position:absolute;left:0;bottom:20px;width:60px;text-align:right;height:184px;display:flex;justify-content:space-between;flex-direction:column}
.slider-vertical-data-b {position:absolute;right:0;bottom:20px;width:60px;text-align:left;height:184px;display:flex;justify-content:space-between;flex-direction:column}
.slider-vertical-data-text {font-size:12px;color:#333;font-weight:700}

/* layer */
.layer_section {opacity:0;visibility:hidden;transition:.2s;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.45);z-index:9001;display:flex;align-items:center;justify-content:center}
.layer_section .layer_section-container {transition:.4s;top:100px;width:500px;max-height:calc(100% - 80px);background-color:#f9f9f9;border-radius:2px;box-shadow:0 1px 4px 0 rgba(0,0,0,.25);display:flex;flex-direction:column;position:relative}
.layer_section.showing {visibility:visible;opacity:1}
.layer_section.showing .layer_section-container {top:0;opacity:1}
.layer_section-container .btn_layer-close {position:absolute;top:16px;right:16px;width:24px;height:24px;background:url(../img/btn_close.png) no-repeat 50% 50%;z-index:20}
.layer-title-box {height:56px;background-color:#0e3058;display:flex;align-items:center;flex-shrink:0}
.layer-title-box .layer-title {font-size:18px;font-weight:500;color:#fff;padding:0 20px;flex-shrink:0}
.layer-sub-title {font-size:16px;font-weight:500;color:#555}
.layer-sub-title ~ .layer-sub-title {margin-top:24px}
.layer-content {padding:24px;overflow:auto}
.layer-content-box {display:flex;gap:20px}
.layer-content-left {flex-shrink:0}
.layer-content-left .layer-check-label:before {margin-right:0 !important;}
.layer-content-left-top {display:flex;gap:4px;margin-bottom:8px}
.layer-content-left-top .btn-mini {flex:1;white-space:nowrap}
.layer-content-right {flex:1;padding-right:20px}

.radio-group-box {display:flex;gap:8px;flex-wrap:wrap;margin-top:8px}
.radio-group-box .radio-item-type-a {width:calc((100% - 24px) / 4)}
.radio-item-type-a {position:relative}
.radio-item-type-a .inp-radio {opacity:0;position:absolute;left:0;top:0}
.radio-item-type-a-label {padding:4px 8px;display:flex;align-items:center;justify-content:center;border:1px solid #ccc;background-color:#e7e7e7;color:#999;font-size:14px;font-weight:500;border-radius:4px}
.inp-radio:checked + .radio-item-type-a-label {background-color:#2f89fc;border-color:#2f89fc;color:#fff}
